/***********************************
1.  =General
2.  =Header
3.  =Viewport
4.  =About
5.  =Service_intro
6.  =Service_boxes
7.  =Call_to_action  
8.  =Testimonial
9.  =Clients
10. =Footer


11. =Responsive CSS
***********************************/

/********************************************
=General 
********************************************/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.eot');
    src: url('../fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins-Thin.woff') format('woff'),
        url('../fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}


body{
	font-family: 'Poppins', sans-serif;
}

img{
	width:100%;
}

h2{
	font-size: 28px;
	font-weight: 100;
	color:#76c369;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	margin-bottom: 10px;
}

h3{
	font-size: 38px;
	font-weight: 700;
	text-transform: capitalize;
	/*letter-spacing: 1px;*/
	margin-bottom: 30px;
}

p{
	font-size: 18px;
    font-weight: 300;
    color: #5b5b5b;
    line-height: 30px;
}

.m-t-5-plus{
    margin-top:5px;
}

.m-t-90-plus{
    margin-top:90px;
}

.m-t-15-minus{
    margin-top:-10px;
}

.left-25vw{
    left:25vw!important;
}



.text_blue{
	color:#00aeef;
}

.text_black{
	color:#000;
}

.text_green{
	color:#76c369;
}

.btn-gradient{
	border-radius: 5px;
    min-width: 150px;
    margin: 30px 0px;
    text-transform: capitalize;
    padding: 10px 0px;
    flex: 1 1 auto;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #F9DF68 0%, #F05751 51%, #F9DF68 100%);
}

.btn-gradient a{
    letter-spacing: 0.5px;
    font-size: 16px;
    color:#fff;
    padding: 10px 20px;
}

button.btn.btn-gradient:active,
button.btn.btn-gradient:hover,
button.btn.btn-gradient:focus,
button.btn.btn-gradient:focus-within{
    background-image: linear-gradient(to right, #F9DF68 0%, #F05751 51%, #F9DF68 100%)!important;
    background-position: right center!important;
}

.btn-gradient i{
	padding-left: 10px;
}

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 35px;
    height: 30px;
    background: #77c169;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 5px;
    font-size: 18px;
}



/********************************************
=Header 
********************************************/

.sticky{
    position:fixed;
    top:0px;
    left:0;
    right:0;
    z-index: 999999;
    transition: all 0.5s;
}

.cover{
	transition: all 0.5s;
}

header#Header {
    transition: all 0.5s;
    
}

header#Header.sticky {
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.5s;
}

header#Header.sticky a.nav-item.nav-link {
    color: #333;
}

header#Header.non-sticky{
    position: absolute;
    width: 100%;
    z-index: 99999;
    /*height: 120px;*/
    padding: 20px 0;
    transition: all 0.5s;
}

header#Header.sticky .logo img {
    max-height: 50px;
    width: auto;
    transition: 0.3s ease;
}

header#Header.non-sticky .logo img {
    max-height: auto;
    width: auto;
    transition: .3s ease;
}

header#Header .logo img {
    transition: .3s ease;
}


nav.navbar.navbar-expand-lg.justify-content-between {
    box-shadow: none;
}

nav.navbar a.nav-item.nav-link {
    font-size:  18px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #00aeef;
}

nav.navbar a.nav-item.nav-link:hover{
	color: #77c169!important;
}

header#Header.sticky a.nav-item.nav-link:hover {
    color: #45c9fb;
}


/********************************************
=Viewport 
********************************************/

section#Viewport {
    height:  100vh;
    overflow:  hidden;
}

.single_slider {
    height:  100vh;
    width: 100%;
    background-size: cover!important;
    background-position: top center;
}

.slider_text{

    background-image:  url('../img/backgrounds/layer-3.png');
    background-position: top center;
}

.slider_text_bg{
    background-image: url('../img/backgrounds/layer-2.png') ;

    background-position: top right;
    display: table;
}

.slider_text,
.slider_text_bg{
        width: 100%;
    height: 100vh;
        background-repeat:no-repeat;
    background-size: contain;
}

.slider_middle_text{
    display: table-cell;
    vertical-align: middle;
}

.slider_text span.big_text{
    color: #76c369;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    display: block;
}


/********************************************
=About 
********************************************/

section#About {
    height:  100vh;
    width: 100%;
    display: table;
    background: url('../img/backgrounds/about-background.jpg') center center;
    background-size: cover;
}

section#About .container {
    display:  table-cell;
    vertical-align:  middle;
}



/********************************************
=Service_intro 
********************************************/

section#Service_intro{
	background: url("../img/backgrounds/service-background.jpg") no-repeat left top;
	height: 100vh;
	background-size: contain;
}

.service_bg_image{
    background: url("../img/backgrounds/service-background2.jpg") repeat-y;
    background-size: 100%;
}

.single_box {
    margin: 30px 0;
}

.service_intro {
    background: #f1f1f3;
    height: 100vh;
    display: table;
}

.service_intro_text{
	display: table-cell;
	vertical-align: middle;
}

/********************************************
=Service_boxes
********************************************/

section#Service_boxes {
    padding: 100px 0 60px;
}

.single_box .card-text {
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: 400;
    padding: 0 15px 20px;
}

.single_box .card {
    background: #fff;
    transition: all 0.5s;
}

.single_box .card::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:0;
    border-radius: 5px 0 0 5px;
    background: #2196F3;
    transition: 0.5s;
}

.single_box .card:hover {
    box-shadow: 0 16px 28px 0 #ddd;
}

.single_box:hover .card::before{
    width:10px;
}

.single_box .card-body {
    padding-top: 0;
    min-height: 290px;/*This line should be delete after backend integration*/
}

.single_box .card-body h4.card-title {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0px;
}

.service_image_box {
    display:  table;
}

.service_image {
    display:  table-cell;
    vertical-align:  middle;
    height: 160px;
}

.service_image img {
    width: auto;
    height: 120px;
}




/********************************************
=Call_to_action
********************************************/

section#Call_to_action {
    background: url('../img/backgrounds/cta-background.jpg') no-repeat;
    background-size: cover;
    background-position: bottom left;
}

.call_text h3 {
    font-size:  35px;
    color: #3A9167;
}

.call_body{
	min-height: 530px;
	display: table;
}

.call_body_content{
	display: table-cell;
	vertical-align: middle;
}

span.call_number {
    font-size:  28px;
    color: #333;
    font-weight: 300;
    letter-spacing:  1.5px;
}

.message_action{
	padding-top:35px;
}

.message_action button.btn.btn-gradient {
    margin: 10px;
}

/********************************************
=Testimonial
********************************************/

section#Testimonial {
    padding: 50px 0 30px;
}

.testimonial_slide {
    padding-top: 40px;
}

.client_image img {
    max-width: 400px;
    float: left;
}

.client_message p {
    padding: 0 50px;
}

.client_identity {
    padding-top: 30px;
}

.client_identity span.client_name {
    font-size:  20px;
    font-weight: 500;
}

.client_identity span.company_name {
    font-size:  22px;
    font-weight:  700;
    letter-spacing:  0.5px;
}

.client_identity p.client_designation {
    margin-bottom: 0;
    font-style: italic;
}



/********************************************
=Clients
********************************************/

section#Clients {
    padding: 30px 0;
    /*border-top: 1px solid #ddd;*/
}

.single_client_logo {
    padding: 75px;
    opacity: 0.7;
}


/********************************************
=Footer
********************************************/

#Footer{
	background:#3A3A3A;
}

.footer_main{
	border-bottom:1px solid #ddd;
	padding:30px 0 40px;
}

.footer_logo img {
    padding: 25px 0 10px;
    width: auto;
}

.about_intro {
    padding: 20px 0;
}

.about_intro p {
/*    font-size:  15px;
    color: #fff;
    letter-spacing:  0.5px;
    margin-bottom: 5px;
    padding-right: 50px;*/

    font-size: 13px;
    color: #ddd;
    /* letter-spacing: 0.5px; */
    margin-bottom: 5px;
    padding-right: 120px;
    line-height: 1.3rem;

}

.social_menu ul li {
    display:  inline-block;
    margin-right: 8px;
}

.social_menu ul li a {
    padding: 6px;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    text-align:  center;
    font-size: 16px;
    color: #fff;
}

.social_menu ul li a:hover{
	color: #3a3a3a;
    background: #fff;
}

.social_menu ul {
    padding-left: 0px;
}

.pages_menu,
.address{
	padding-top:55px;
}

.pages_menu h4,
.address h4{
	color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 15px;
    letter-spacing: 0.8px;
}

.pages_menu{
	
}

.address{
	
}

.pages_menu ul {
    padding-left: 18px;
}

.pages_menu ul li {
    list-style: none;
    margin: 5px 0;
    list-style-type: square;
    color:#8BC63F;
    padding-left: 18px;
}

.pages_menu ul li a {
    font-size: 14px;
    color: #ddd;
    margin-left: -15px;
    letter-spacing: 0.5px;
}

.address p {
    font-size:  13px;
    line-height:  20px;
    color: #ddd;
    margin-bottom: 15px;
}

.address p i {
    padding-right: 8px;
    color: #fff;
    font-size: 16px;
}

.address p i.fa.fa-address-card-o {
    height: 50px;
    float: left;
}

.footer_bottom{
	height: 40px;
}

.footer_bottom p{
    margin: 0;
    color: #ddd;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 40px;
    text-align: center;
}







/**************************************************
=Modal CSS
***************************************************/

div#exampleModalCenter {
    z-index: 9999999999;
}

/**************************************************
=Responsive CSS
***************************************************/

@media screen and (max-width: 767px) {

h2 {
    font-size:  18px;
}

h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

p {
    line-height:  22px;
    font-size: 1rem;
}


header#Header.non-sticky .logo img{
    max-width: 180px;
    position: absolute;
    top: 0;
}




    .slider_text,
    .slider_text_bg {
        height: 75vh;
        top: 50%;
        left: 25px;
        background-position: center center!important;
        background-size: cover;
    }

    .slider_text span.big_text {
        font-size:  25px;
        line-height:  2rem;
    }


    .btn-gradient {
        margin-top: 10px;
        padding: 5px!important;
        min-width:100px;
    }

    .btn-gradient a {
        padding: 5px;
        font-size:14px;
    }






    section#Viewport{
        height:75vh;
    }


    .slide_image {
        height: 75vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slider_middle_text {
        padding-left: 20px;
        padding-right: 20px;
        padding-top:40px;
    }



    section#About, section#Service_intro {
        padding-left: 20px;
        padding-right: 20px;
    }



    .service_intro {
        background:  transparent;
    }

    section#Service_intro {
    background-position: top center;
        background-size: contain;
    }

    .call_text h3 {
        font-size:  25px;
    }

    .call_body {
        padding: 0 30px;
    }





    section#Testimonial {
        padding: 90px 0 30px;
    }



    .client_image {
        padding: 0 50px 0;
    }

    .client_message {
        margin-top: 15px;
    }

    .client_image img {
        max-width: 100%;
    }

    .client_message p {
        padding: 10px;
        line-height: 18px;
        font-size:  14px;
    }

    .testimonial_slide{
        padding-top:10px;
    }

    .client_identity {
        padding-top: 0px;
        margin: 0;
    }

    .client_identity span.client_name {
        font-size:  15px;
        font-weight: 700;
    }

    .client_identity span.company_name {
        font-size:  16px;
        line-height:  25px;
    }





    section#Clients {
        padding-top: 80px;
    }

    .single_client_logo {
        padding: 10px;
        text-align:center;
    }

    .single_client_logo img {
        max-height: 70px;
        width: auto;
        margin: 0 auto;
    }







    .footer_logo img {
        height: 90px;
        width: auto;
        margin: 0 auto;
        display: block;
    }


    .about_intro p {
        padding: 0px;
    }

    .pages_menu {
        padding-top:  10px;
    }

    .pages_menu h4, .address h4 {
        font-size:  18px;
        margin-bottom: 0px;
        padding: 0px;
    }

    .footer_main {
        padding: 20px;
    }

    .pages_menu, .address {
        padding-top: 15px;
    }


    .pages_menu ul li {
        line-height:  20px;
    }

    .pages_menu ul {
        padding-top: 10px;
    }

    .address h4 {
        margin-bottom: 15px;
    }



    /*offcanvas menu*/
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        right: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #00aeef!important;
        display: block;
        transition: 0.3s;
    }

    nav.navbar a.nav-item.nav-link{
        padding-left: 30px;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav a.closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    #mySidenav{
        display: block;
    }

    .navbar-nav.big_screen{
        display:none;
    }






}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 768px) {
    div#mySidenav {
        display:  none;
    }
}
